<h1>ろぐいん<h1>

<% if @error_message %>
    <div class="form-error">
    <%= @error_message %>
    </div>
<% end %>

<%= form_with url: login_path do %>
    <p>メールアドレス</p>
    <input name="session[email]" >
    <p>パスワード</p>
    <input type="password" name="session[password]">
    <input type="submit" value="ログイン">
<% end %>
