<div class="layer">
    <div class="prof-main" >
        <div class="img-block">
            <img class="prof-img" src="/prof-img.png" alt="prof-img">
        </div>
        <div class="txt-block">
            <h1>阿部藤吉郎</h1>
            <p>所属：新潟大学　農学部　３年　応用生命科学プログラム</p>
            <p>本職は生化学系のお勉強です。プログラミングは趣味でやってます。</p>
            <p>趣味の方に時間をかけすぎて、学校の方の成績はあまりよろしくありません。</p>
            <p>最近、大学院進学を決めたのでお勉強にも向き合っています。</p>
        </div>
    </div>
</div>

<div class="layer prof-bg">
    <div class="prof-content">
        <h1> - - - - - - - - - - - - <br>
        ぎゃらりー<br>
        - - - - - - - - - - - -</h1>
        <ul class="img_box">
            <li>
                <img class="my_img" src="/my_img.jpeg" alt="my_img">
            </li>
            <li>
                <img class="my_img" src="/mypet.jpeg" alt="my_pet">
            </li>
            <li>
                <img class="my_img" src="/tyo-tyo.jpg" alt="my_tyo-tyo">
            </li>
            <li>
                <img class="my_img" src="/view.jpg" alt="my_tyo-tyo">
            </li>
            <li>
                <img class="my_img" src="/jujutu.jpg" alt="my_tyo-tyo">
            </li>
            <!-- <li>
                <img class="my_img" src="/cafe.jpg" alt="my_tyo-tyo">
            </li> -->
            <li>
                <img class="my_img" src="/tombo.jpg" alt="my_tyo-tyo">
            </li>
        </ul>
        <div>
            <p>ご覧いただきありがとうございました。</p>
            <p>この通り、自分は何をするわけでもないですが、楽しく生きています。</p>
            <p>-----「それでいいなら、それでいい」</p>
        </div>
    </div>
</div>
