<div class="profile">
    <div class="bg-prof">
        <div>
            <p style="" class="content">まずは以下の画像をご覧ください。</p>
        </div>
        <ul class="img_box">
            <li>
                <img class="my_img" src="/my_img.jpeg" alt="my_img">
            </li>
            <li>
                <img style="" class="my_img" src="/mypet.jpeg" alt="my_pet">
            </li>
            <li>
                <img style="" class="my_img" src="/tyo-tyo.jpg" alt="my_tyo-tyo">
            </li>
            <li>
                <img class="my_img" src="/jujutu.jpg" alt="my_tyo-tyo">
            </li>
            <li>
                <img style="" class="my_img" src="/view.jpg" alt="my_tyo-tyo">
            </li>
            <li>
                <img style="" class="my_img" src="/cafe.jpg" alt="my_tyo-tyo">
            </li>
            <li>
                <img style="" class="my_img" src="/tombo.jpg" alt="my_tyo-tyo">
            </li>
        </ul>
    </div>
    <div class="prof-detail" >
        <p class="prof-content">ご覧いただきありがとうございました。</p>
        <p class="prof-content">この通り、自分は何をするわけでもないですが、
            楽しく生きています。</p>
        <p class="prof-content" style="font-family:Hannari; font-size:1.5rem;">
            「それでいいなら、それでいい」</p>
        <p class="prof-content">それでは、以上、自己紹介でした。</p>
    </div>
</div>
