<div class="toppage">
    <div class="bg">
        <div class="content-wrap">
            <p class="content">初めまして、こんにちは。</p>
            <p class="content">阿部 藤吉郎(アベ トウキチロウ) と申します。</p>
            <p class="content">自己紹介サイトへようこそ。</p>
            <p class="content">好きな言葉は 
                <span style="font-family:Hannari; font-size: 2.3rem;">
                    「それでいいなら、それでいい」</span>です。</p>
            <p class="content">よかったら最後の "ひとりごと" までご覧ください。</p>
        </div>
    </div>
</div>
