/* CSSのリセット（消さないでください） */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
  background-color: #BBDD00;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color : inherit;
}

/* ここからCSSを記述してください */
/* ################ header ################ */
.header-main {
  background-color:#008000;
  height:4rem;
}

.header-title {
  padding:1rem 3rem;
  font-size:2rem;
  float:left;
  color: #BBDD00;
}

.header-menu {
  padding:1.5rem;
  float: right;
}

.header-menu-content{
  float:left;
  padding:0 20px;
  color: #BBDD00;
}

/* ################ body ################ */
.profile {
  height: 90rem;
  background-image: url("/profile.jpeg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.toppage {
  height: 50rem;
  background-image: url("/top.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.bg {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0 5rem;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.img_box {
  display: flex;
  flex-wrap: wrap;
}

.my_img {
  height: 17rem;
  padding: 0.3rem;
  flex-grow: 1;
  object-fit: cover;
}

.round {
  border-radius: 50px;
}

.content-wrap {
  height: 30rem;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.content {
  font-size: 2rem;
  padding: 2rem 0;
}

.prof-detail {
  padding: 0 5rem;

}

.prof-content {
  font-size: 1.3rem;
  padding: 2rem 0;
}

/* レスポンシブcss */
/* ########################################## */
@media screen and (max-width:1014px) {
  .header-menu {
    display: none;
  }

  .header-main {
    height: 3rem;
  }

  .header-title {
    font-size: 1.4rem;
  }
}