/* CSSのリセット（消さないでください） */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
  background-color: #bcdd002c;
  min-width: 400px;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color : inherit;
}

/* ここからCSSを記述してください */
/* ################ header ################ */
.header-main {
  background-color:#008000;
  height:4rem;
  display: flex;
}

.header-title {
  line-height: 4rem;
  font-size:2rem;
  float:left;
  color: #BBDD00;
}

.menu-wrap {
  background-color: #008000;
  margin: 0 0 0 auto;
}
.header-menu {
}

.header-menu-content{
  line-height: 3rem;
  float:left;
  padding:0 20px;
  color: #BBDD00;
  margin: 0.5rem 0.5rem;
}

/* ################ body ################ */
.toppage {
  height: 60rem;
  background-image: url("/top.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.bg-top {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0 5rem;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.content-wrap {
  height: 30rem;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.content {
  font-size: 2rem;
  padding: 2rem 0;
}

.profile {
  height: 90rem;
  background-image: url("/profile.jpeg");
  background-repeat: repeat-x;
  background-position: top;
  background-size: cover;
}

.bg-prof {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0 5rem;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.img_box {
  display: flex;
  flex-wrap: wrap;
}

.my_img {
  padding: 0.1rem;
  flex-grow: 1;
  object-fit: cover;
  height: 20rem;
  border-radius:20px;
}

.prof-content {
  font-size: 1.3rem;
  padding: 2rem 0;
}

.prof-main {
  margin: 2rem 5rem;
  max-width: 100rem;
  display: flex;
}

.img-block {
  width: max-content;
}

.prof-img {
  height: 20rem;
}

.txt-block {
  width: 70%;
  padding: 0 2rem;
  
}

.in-txt-block {
  font-size: 1.1rem;
  padding: 0.5rem 0;
}
/* レスポンシブcss */
/* ########################################## */
@media screen and (max-width:800px) {
  .header-title {
    font-size: 1.4rem;
    line-height: 3rem;
  }

  .header-main {
    height: 3rem;
  }

  .header-menu {
    line-height: 3rem;
    padding: 0;
  }

  .header-menu-content {
    margin: 0.7rem 0.7rem;
    line-height: 1.6rem;
  }

  .prof-main {
    display: inline;
   }
   
  .img-block {
    margin: 0 auto;
  }

  .txt-block {
    margin: 0 auto;
  }
}

@media screen and (max-width:650px) {
  .header-title {
    margin: 0 auto;
  }

  .header-main {
    height: 6em;
    display: grid;
   }

   .menu-wrap {
    margin: 0 auto;
   }

   .bg-prof {
    padding: 0 1rem;
   }
}