/* CSSのリセット（消さないでください） */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
  background-color: #bcdd002c;
  min-width: 400px;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color : inherit;
}

/* ここからCSSを記述してください */
/* ################ header ################ */
.header-main {
  background-color:#008000;
  height:4rem;
  display: flex;
}

.header-title {
  line-height: 4rem;
  font-size:2rem;
  float:left;
  color: #BBDD00;
}

.menu-wrap {
  background-color: #008000;
  margin: 0 0 0 auto;
}

.header-menu-content {
  line-height: 3rem;
  float:left;
  padding:0 20px;
  color: #BBDD00;
  margin: 0.5rem 0.5rem;
}

/* ################ body ################ */
.layer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.top-bg{
  background: url("/top.jpg") no-repeat center center/ cover;
  height: 50rem;
  background-color: rgba(255, 255, 255, 0.75);
}

.top-txt{
  text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  color: rgb(0, 0, 0);
  letter-spacing: 0.4rem;
  background-color: rgba(255, 255, 255, 0.75);
  max-width: 1010px;
  height: 100%;
  padding: 0 2rem;
  p {
    font-size: 2rem;
    margin: 5rem 0;
  }
  span {
    font-family:Hannari;
    font-size: 2.3rem;
    color:#008000;
  }
}

.prof-main {
  margin: 2rem 5rem;
  max-width: 1000px;
  display: flex;
}

.img-block {
  width: max-content;
  img {
    height: 20rem;
  }
}

.txt-block {
  width: 70%;
  padding: 0 2rem;
  text-align: left;

  h1 {
    font-size: 1.8rem; 
    border-bottom: dotted;
    padding: 0.5rem 0;
  }

  p {
    font-size: 1.1rem;
    padding: 0.5rem 0;
  }
  
}

.prof-bg {
  background: url("/profile.jpeg") no-repeat center center / cover;
  padding: 0 5rem;
}

.prof-content {
  background-color: rgba(255, 255, 255, 0.75);
  max-width: 1000px;
  padding: 1rem 3rem 5rem 3rem;

  h1 {
    font-size: 2rem;
    padding: 1rem 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  img {
    padding: 0.1rem;
    flex-grow: 1;
    object-fit: cover;
    height: 20rem;
    border-radius:20px;
  }

  p {
    font-size: 1.6rem;
    padding: 1.4rem 0;
  }
}

.comment {
  text-align: center;
  max-width: 800px;
  h1 {
    font-size: 2rem;
    padding: 1rem 0;

  }
  .makeQ {
    background-color: white;
    width: fit-content;
    padding: 0.5rem;
    display: inline;
  }
  p {
    padding: 1.2rem;
  }
}

/* レスポンシブcss */
/* ########################################## */
@media screen and (max-width:1000px) {
  .header-title {
    font-size: 1.4rem;
    line-height: 3rem;
  }

  .header-main {
    height: 3rem;
  }

  .header-menu {
    line-height: 3rem;
    padding: 0;
  }

  .header-menu-content {
    margin: 0.7rem 0.7rem;
    line-height: 1.6rem;
  }

  .prof-main {
    display: inline;
   }
   
  .img-block {
    margin: 0 auto;
  }

  .txt-block {
    margin: 0 auto;
  }
}

@media screen and (max-width:670px) {
  .header-title {
    margin: 0 auto;
  }

  .header-main {
    height: 6em;
    display: grid;
  }

   .menu-wrap {
    margin: 0 auto;
  }

   .prof-bg {
    padding: 0;
  }

  .top-txt {
    p {
      font-size: 1.4rem;
    }
    span {
      font-size: 1.5rem;
    }
  }

  .txt-block {
    width: 100%;
    padding: 0 0;
    text-align: left;
  }

  .prof-content {
    padding: 0 0 5rem 0;
    ul {
      display: block;
    }
    img {
      width: 350px;
    }
    p {
      font-size: 1.3rem;
    }
  }
}